<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>成员管理系统 </title>
</head>
<!--
<body style="background-color:#BA55D3;">
-->


  <a href="http://localhost:8080/admin"> 管理员登录</a>

<br><br><br><br><br><br><br><br><br><br>
<h1 style="text-align:center;">成员管理系统</h1>
<br>


<form style="text-align:center;" id="123" action="/user" method ="Get">
	用户名：<input name="username" type="text" /><br>
  密码：<input name="password" type="password" /><br>

  	
  <center><input style="text-align:center;"
   type="Submit" value="登陆"><input type="reset">
   <br><br>
   <a href="http://localhost:8080/v1/register">没有账号？去注册</a>
    
</form><br>


<!--
<form style="text-align:center;" id="123" action="/user" method ="Get">
 <center><input style="text-align:center;"
    type="Submit" value="注册">
   <br><br>
</form><br>
-->


    





<p><b>注意：</b> 密码字段中的字符是隐藏的(显示圆圈)。</p>
 

 
</body>
</div>
</html>


<!--
<h1>我的第一个标题</h1>


<a href="http://www.baidu.com"> zlaia</a>
<br>
<a href="http://www.runoob.com">这是一个链接使用了 href 属性</a>
<div id="header" style="background-color:#FFA500;">
<form style="text-align:center;" action="">
First name: <input type="text" name="firstname"><br><br>
Last name:  <input type="text" name="lastname">
</form>

<form style="text-align:center;">
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female
</form>
<script>
document.write("Hello World!")
</script> 
<p id="demo">
JavaScript 可以触发事件，就像按钮点击。</p>

<script>
function myFunction()
{
	document.getElementById("demo").innerHTML="Hello JavaScript!";
}
</script>




<button type="button" onclick="myFunction()">点我</button>
-->
