<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>成员管理系统 </title>
</head>
<!--<body style="background-color:#BA55D3;">-->




<br><br><br><br><br><br><br><br><br><br>
<h1 style="text-align:center;">成员管理系统</h1>
<br>


<form style="text-align:center;" id="123" action="/review" method ="Get">
	用户名：<input name="username" type="text" /><br>
  密码：<input name="password" type="password" /><br>
	邮箱：<input name="email" type="text" /><br>
  昵称：<input name="nick" type="text" /><br><br>
  	
  <center><input style="text-align:center;"
   type="Submit" value="注册"><input type="reset">
   <br>
   <a href="http://localhost:8080/">已有账号？去登陆</a>
    
</form><br>


<!--
<form style="text-align:center;" id="123" action="/user" method ="Get">
 <center><input style="text-align:center;"
    type="Submit" value="注册">
   <br><br>
</form><br>
-->


    



<br>



<p><b>注意：</b> 密码字段中的字符是隐藏的(显示为圆圈)。</p>
 

 
</body>
</div>
</html>