<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form action="/add" method="post">
    请输入你想添加的信息用户<br>
    用户名：<br>
    <input type="text" name="username"><br>
    昵称：<br>
    <input type="text" name="nickname"><br>
    手机号：<br>
    <input type="text" name="phone"><br>
    邮箱：<br>
    <input type="text" name="email"><br>
    组别：<br>
    <input type="text" name="group"><br>
    密码：<br>
    <input type="text" name="password"><br>
    <input type="submit" value="添加"><br>
</form>
</body>
</html>