<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>申请注册者页面</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>nickname</th>
        <th>email</th>
        <th>phone</th>
        <th>group</th>
        <th>status</th>
        <th>批准</th>
    </tr>
{{range .posts}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td>{{.Nickname}}</td>
        <td>{{.Email}}</td>
        <td>{{.Phone}}</td>
        <td>{{.Group}}</td>
        <td>{{.Status}}</td>
        <td><form action="approve.html" method="post"><input type="submit" id={{.Id}} value="同意"><br></form></td>
    </tr>
{{end}}
</table>
</body>
</html>