<html>
    <body>
        <h1>
            注册
        </h1>
        <form action="/register" method="POST">
            用户名：<br>
            <input type="text" name="username"><br>
            昵称：<br>
            <input type="text" name="nickname"><br>
            手机号：<br>
            <input type="text" name="phone"><br>
            邮箱：<br>
            <input type="text" name="email"><br>
            组别：<br>
            <input type="text" name="group"><br>
            密码：<br>
            <input type="password" name="password"><br>
            <input type="submit" value="注册"><br>
        </form>
    </body>
</html>